<div class="flex flex-col mx-16 gap-4 micolor">
  <div class="">
    <button class="bg-gray-300 text-black px-4 py-2 rounded flex items-center gap-2" (click)="applyFilter()"
      [disabled]="isLoading">
      <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="3"></mat-spinner>
      <span *ngIf="!isLoading">Buscar</span>
      <span *ngIf="isLoading">Cargando...</span>
    </button>
  </div>

  <!-- Contenedor para la tabla y el botón -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let userList"> {{userList.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let userList"> {{userList.name | titlecase}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;">
      </tr>
    </table>

  </div>

</div>